body {
    font-family: 'Karla', sans-serif;
    background-color: #E0FFFF; /*lightcyan works ok*/
    max-width: 42em;
    margin: 2em auto; /*maybe not auto? hmm*/
    line-height:1.4em;
    font-size:18px;
    color: #002639;  /*   an almost black */
    padding:0 10px;
}

form {
    margin: 0.5em;
}

#weatherResults, #forecastResults{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 1rem;
    /* text-align: center !important; */
}

.current, .forecast {
    border: 2px solid black;
    text-align: center !important;

}

.footer{
    text-align: center !important;  
}